*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
header{
    background-color: rgb(234, 19, 162);
}
body{
    text-align: center;
    background-color: rgb(234, 19, 220);
}
figure{
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
}
h1{
    text-align: center;
    color: white;
    border: 3px solid white;
}
h2{
    text-align: center;
    color: white;
    border: 3px solid white;
}
h3{
    text-align: center;
    color: white;
    border: 3px solid white;
}
table{
    border: 3px solid white;
}
footer{
    color: white(--text-color);
    background-color: rgb(234, 19, 162);
}
p{
    color: white;
}
/*Responsividade PC*/
@media (max-width: 1200px){
	/*nav*/
    nav{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
    nav ul li a{        
        padding: 25px;
    }
}

/*Responsividade Tablet*/
@media (max-width:768px){
    /*nav*/
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: row;
        width: 60%;
    }
    nav ul li a{        
        padding: 15px;
    }
}

/*Responsividade Mobile*/
@media (max-width:584px){
    /*nav*/
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        width: 50%;
    }
    nav ul li a{        
        padding: 5px;
    }
}